<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login employee</title>
</head>
<body>
<form method="POST" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label for="username" >Enter Username:</label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password" >Enter Password:</label>
    <input type="password" name="password" id="password"/>
    <br/>
    <input type="submit" value="Login"/>
    <div th:if="${param.error}" style="color:red">Credentials are invalid</div>
    <div th:if="${param.successful_registration}" style="color:green">Registration successful, you can use new employee to login</div>

    <hr/>
    <a th:href="@{/registration}">Register new employee -></a>
</form>
</body>
</html>