<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register new employee</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration}" th:object="${employee}">
    <label for="username" >Enter Username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</div>
    <br/>
    <label for="password" >Enter password:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</div>
    <br/>
    <label for="role">Select role:</label>
    <select th:object="${employee}" th:field="*{role}" id="role">
        <option th:each="roleFromList : ${roles}" th:value="${roleFromList}" th:text="${roleFromList}"></option>
    </select>
    <br/>
    <input type="submit" value="Create new employee"/>
</form>
<hr/>
<a th:href="@{/index}"> <--Back to main page</a>
</body>
</html>