<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people/create}" th:object="${person}">
    <label for="initials" >Enter Initials:</label>
    <input type="text" th:field="*{initials}" id="initials"/>
    <div style="color:red" th:if="${#fields.hasErrors('initials')}" th:errors="*{initials}">error</div>
    <br/>
    <label for="yearOfBirth" >Enter year of birth:</label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">error</div>
    <br/>
    <label for="passport.number" >Enter passport number:</label>
    <input type="text" th:field="*{passport.number}" id="passport.number"/>
    <div style="color:red" th:if="${#fields.hasErrors('passport.number')}" th:errors="*{passport.number}">error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

<hr/>

<a th:href="@{/people}"> <--Back to people list</a>
</body>
</html>