<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<a th:text="${person.getInitials() + ', ' + person.getYearOfBirth() + ', passport: ' + passport.number}">person</a>

<div th:if="${books.isEmpty()}">
    <hr/>
    <label>Person doesn't have books</label>
</div>

<div th:unless="${books.isEmpty()}">
    <hr/>
    <label>Books:</label>
    <br/>
    <div th:each="book : ${books}">
        <a th:style="${book.isOverdue()}? 'color:red' : 'color:black'"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getReleaseYear()}"
           th:href="@{/books/{id}(id=${book.getId()})}">book</a>
        <a th:style="${book.isOverdue()}? 'color:red' : ''"
           th:text="${book.isOverdue()}? 'OVERDUE' : ''">overdue</a>
    </div>
</div>

<hr/>

<form th:method="POST" th:action="@{/people/{id}/edit(id=${person.getId()})}" th:object="${person}">
  <input type="submit" value="Edit"/>
</form>

<form th:method="POST" th:action="@{/people/{id}/delete(id=${person.getId()})}" th:object="${person}">
  <input type="submit" value="Delete"/>
</form>

<hr/>

<a th:href="@{/people}"> <-Back to people list</a>
</body>
</html>