<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<div th:each="book : ${books}">
  <a th:href="@{/books/{id}(id=${book.getId()})}"
     th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getReleaseYear()}">book</a>
</div>

<br/>
<hr/>

<a th:href="@{/books/new}">ADD NEW BOOK--></a>
<br/>
<a th:href="@{/index}"><--Back to main</a>
<hr/>
<a th:href="@{/books/search}">Search</a>
</body>
</html>