<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<a th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getReleaseYear()}">book</a>

<div th:if="${owner==null}">
    <label>Books is empty. Would you like to assign to someone?</label>
    <br/>
    <form th:method="POST" th:action="@{/books/{id}/reserve(id=${book.getId()})}" th:object="${book}">
        <label for="person">Select person:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="personFromList : ${people}" th:value="${personFromList.getId()}" th:text="${personFromList.getInitials()}">
            </option>
        </select>
        <input type="submit" value="Reserve book"/>
    </form>
</div>

<div th:unless="${owner==null}">
    <label>Books is now taken by:</label>
<!--    <a th:text="${owner.getInitials()}">owner</a>-->
    <a th:href="@{/people/{id}(id=${owner.getId()})}"
       th:text="${owner.getInitials()}">person</a>
    <br/>
    <label>At:</label>
    <a th:text="${book.getReservedAt()}">reservedAt</a>
    <a th:style="${book.isOverdue()}? 'color:red' : ''" th:text="${book.isOverdue()}? 'OVERDUE!' : ''">text</a>
    <hr/>
    <form th:method="POST" th:action="@{/books/{id}/vacate(id=${book.getId()})}" th:object="${book}">
        <input type="submit" value="Vacate"/>
    </form>
</div>

<hr/>

<form th:method="POST" th:action="@{/books/{id}/edit(id=${book.getId()})}" th:object="${book}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="POST" th:action="@{/books/{id}/delete(id=${book.getId()})}" th:object="${book}">
    <input type="submit" value="Delete"/>
</form>

<hr/>

<a th:href="@{/books}"> <-Back to books list</a>
</body>
</html>